# Distribution / packaging
.Python
env/
.env
*.sqlite3
.idea/
media
db.sqlite3# Editor directories and files
.idea# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.DS_Store
*.pem
# Terraform for regular infrastructure
terraform/.terraform/*
terraform/*.tfstate
terraform/*.tfstate.*
terraform/credentials
# Terrafrom K8s baremetal infrastructure
k8s/baremetal/terraform/.terraform/*
k8s/baremetal/terraform/*.tfstate
k8s/baremetal/terraform/*.tfstate.*
