{% extends 'base.html' %}

{% block title %} - Terms of Use{% endblock title %}

{% block content %}
<div class="reveal">
    <h1 class="display-5 fw-bold mb-5">Terms of Use</h1>
    
    <div class="article-body fs-5 text-secondary">
        <p class="mb-4">Welcome to iooding. By accessing or using our website, you agree to comply with and be bound by the following terms and conditions of use.</p>
        
        <h3 class="text-dark fw-bold mt-5 mb-3">1. Acceptance of Terms</h3>
        <p>The services that iooding provides to you are subject to the following Terms of Use. iooding reserves the right to update the TOU at any time without notice to you.</p>
        
        <h3 class="text-dark fw-bold mt-5 mb-3">2. Description of Services</h3>
        <p>iooding provides you with access to a variety of resources, including technical articles, AI-powered insights, and community discussions.</p>
        
        <h3 class="text-dark fw-bold mt-5 mb-3">3. Privacy and Protection of Personal Information</h3>
        <p>See the Privacy Policy disclosures relating to the collection and use of your information.</p>
        
        <h3 class="text-dark fw-bold mt-5 mb-3">4. Content</h3>
        <p>All content included on this site, such as text, graphics, logos, and images, is the property of iooding or its content suppliers and protected by international copyright laws.</p>
    </div>
</div>
{% endblock content %}
