apiVersion: batch/v1
kind: Job
metadata:
  name: iooding-migration
  namespace: iooding
  annotations:
    argocd.argoproj.io/hook: Sync
    argocd.argoproj.io/hook-delete-policy: BeforeHookCreation
spec:
  ttlSecondsAfterFinished: 120
  template:
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 100
      restartPolicy: OnFailure
      containers:
        - name: migrate
          image: viktor2003/iooding:v9
          command: ["/app/docker-entrypoint.sh", "migrate"]
          env:
            - name: DJANGO_SUPERUSER_USERNAME
              valueFrom:
                secretKeyRef:
                  name: iooding-admin-secret
                  key: username
            - name: DJANGO_SUPERUSER_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: iooding-admin-secret
                  key: password
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: password
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: aws-credentials
                  key: access_key_id
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: aws-credentials
                  key: secret_access_key
            - name: AWS_DEFAULT_REGION
              value: eu-central-1
            - name: ALLOWED_HOSTS
              value: "iooding.local,192.168.0.101,localhost,127.0.0.1"
            - name: CSRF_TRUSTED_ORIGINS
              value: "https://iooding.local"
            - name: DB_HOST
              value: "postgres"
            - name: REDIS_URL
              value: "redis://redis:6379/1"
