apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
  namespace: iooding
spec:
  serviceName: redis
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      terminationGracePeriodSeconds: 5
      containers:
        - name: redis
          image: redis:7-alpine
          ports:
            - containerPort: 6379
  volumeClaimTemplates:
    - metadata:
        name: postgres-data
        labels:
          recurring-job-group.longhorn.io/important: enabled
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: longhorn
        resources:
          requests:
            storage: 1GB